h2 {
    margin-top: 10px;
    margin-left: 20px;
    padding: 0 10px;
    background: linear-gradient(transparent 50%, yellowgreen 50%);
    display: inline-block;
}

table {
    width: 80% !important;
    margin: 0 auto;
    margin-top: 20px;
}

.form {
    width: 300px;
    border: 5px solid green;
    border-radius: 20px;
    padding: 20px;
    margin-left: 20px;
}

form {
    display: inline-block;
}

label {
    margin-top: 5px;
}

#submit-button {
    margin-top: 5px;
}

th {
    vertical-align: middle !important;
}
